* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}

body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #efefef;
  color: #666;
  overflow: hidden;
}

.main-page {
  height: 100vh;
  overflow: scroll-y;
}

.header {
  padding-left: 2.5%;
  padding-right: 2.5%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  font-size: 1.75rem;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  font-size: 1.0em;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #ddd;
}

.month-view-header {
  margin-top: 2%;
  width: 100%;
  color: black;
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 1%;
}

.month-view-wrapper {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 1%;
}

.weekday-header {
  text-align: center;
}

.day-in-a-month-wrapper {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  aspect-ratio: 1;
  border-radius: 15%;
  padding: 5px;
}

.day-in-a-month-wrapper:hover {
  background-color: rgb(215,215,215);
}

.day-date-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  color: black;
  font-size: 2em;
}

.day-date-month-name {
  position: absolute;
  width: 100%;
  top: 1px;
  font-size: 0.9em;
  text-align: center;
}

.day-date-special {
  position: absolute;
  width: 100%;
  bottom: 1px;
  font-size: 0.9em;
  text-align: center;
  color: #ed2e38;
  font-weight: bolder;
}

.day-in-a-month {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: none;
  border: 1.5px dashed #666;
  border-radius: 15%;
}

.days-in-a-month {
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.days-in-a-month-rows {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.days-in-a-month-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

/* .days-in-a-month-grid {
  height: 100%;
  width: 100%;
  background-color: skyblue;
  flex-basis: 0;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "h h h h h h h"
    "d d d d d d d ";
  justify-content: center;
  align-items: center;
} */

.week-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10px;
}

.week-view-header {
  width: 100%;
  color: black;
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 2%;
}

/* .week-view-header-selected {
  font-weight: bolder
} */

.week-view-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 40vh;
  border-radius: 25px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  /* border: 1px dashed #666; */
}

/* .week-view-wrapper-selected {
  border: 1px solid #666;
  background-color: rgb(230,230,230);
} */

.week-view-wrapper:hover {
  background-color: rgb(230,230,230);
}

.day-wrap {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  aspect-ratio: 1;
  padding: 10px;
  border-radius: 10px;
}

.day {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1.5px dashed #666;
  border-radius: 10px;
  background: none;
}

.day-month {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 1.5px dashed #666;
  border-radius: 10px;
  background: none;
}

.day-selected {
  border: 1.5px solid #666;
  border-radius: 10px;
  background-color: rgb(220,220,220);
}

.day-wrap:hover {
  background-color: rgb(225,225,225);
}

.day-name-unselected {
  font-size: 1.5em;
  color: black;
}

.day-name-selected {
  font-size: 1.5em;
  color: black;
  font-weight: bolder;
}

.day-date-unselected {
  font-size: 1.25em;
  color: #666;
}

.day-date-selected {
  font-size: 1.25em;
  color: #333;
  font-weight: bolder;
}

.nav-toolbar {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 1%;
  margin-right: 1%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  /* border-width: 1.5px 0px 1.5px 0px;
  border-style: solid;
  border-color: #666; */
  background-color: #dedede;
  border-radius: 30px;
  overflow: hidden;
}

.icon-group {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  border-width: 0px 1.5px 1.5px 1.5px;
  /* border-style: solid;
  border-color: #666;
  border-radius: 0px 0px 4px 4px; */
  overflow: hidden;
}

.icon {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  background: none;
  outline: inherit;
  color: inherit;
  border: none;
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: center;
}

.icon-selected {
  background-color: #bcbcbc;
}

.icon-settings {
  background-image: url("../public/gear-solid-gray.svg");
}

.icon-settings-selected {
  background-image: url("../public/gear-solid.svg");
}

.icon-add {
  background-image: url("../public/plus-solid-gray.svg");
}

.icon-add-selected {
  background-image: url("../public/plus-solid.svg");
}

.icon-add-disabled {
  background-image: url("../public/plus-solid-disabled.svg");
}

.icon-home {
  background-image: url("../public/house-solid.svg")
}

.icon-calendar {
  background-image: url("../public/calendar-regular-gray.svg")
}

.icon-calendar-selected {
  background-image: url("../public/calendar-regular.svg")
}

.icon-tools {
  background-image: url("../public/wand-magic-sparkles-solid-gray.svg");
}

.icon-tools-selected {
  background-image: url("../public/wand-magic-sparkles-solid.svg");
}

.icon-logout-left {
  background-image: url("../public/arrow-left-from-bracket-solid-gray.svg");
}

.logout-button {
  width: 40px;
  border-radius: 10px;
}

.logout-button:hover {
  background-color: #ddd;
}

.date-toggle {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  /* border-width: 0px 1.5px 1.5px 1.5px;
  border-style: solid;
  border-color: #666;
  border-radius: 0px 0px 4px 4px; */
  overflow: hidden;
}

.date-toggle button {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  background: none;
  outline: inherit;
  color: #333;
  border: none;
  text-align: center;
}

.date-toggle .date-toggle-button-selected {
  background-color: #bcbcbc;
  color: black;
  font-weight: bolder;
}

.summary {
  grid-area: summary;
  padding: 1%;
  background-color: white;
  color: black;
  height: 1000px;
  width: 100%;
  overflow-y: scroll;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #ddd;
}

.easycal-logo {
  font-weight: bold;
  color: black;
}

.todayLabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ed2e38;
  font-weight: bolder;
}

/* .calendar-events-wrapper {
  grid-area: calendar-events;
  margin-left: 2%;
  margin-right: 2%;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: rgb(220,220,220);
} */

/* .day-view:hover .calendar-events-wrapper {
  border-color: rgb(210,210,210);
} */

/* .calendar-events {
  position: relative;
  width: 100%;
} */

.day-view {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  height: 50vh;
  border-radius: 25px 25px 0px 0px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% auto;
  grid-template-areas: "day-view-header"
    "day-view-calendar";
  overflow: hidden;
}

.day-calendar {
  height: 100vh;
  grid-area: day-view-calendar;
  display: grid;
  grid-template-columns: 5% auto;
  grid-template-areas: "day-calendar-time-axis day-calendar-events";
  overflow: scroll;
}

.day-calendar-time-axis {
  width: 100%;
  justify-self: center;
  position: relative;
  grid-area: day-calendar-time-axis;
  /* display: grid;
  grid-template-rows: repeat(1fr, 24);
  grid-template-columns: auto; */
}

/* In day-calendar-time-bar below, setting height equal to the height of
the ultimate parent (day-view) is important to prevent overscrolling,
since the element has position: absolute. */
.day-calendar-time-bar {
  position: absolute;
  width: 100%;
  height: 55vh;
  font-size: 0.9em;
  border-width: 1px 0px 0px 0px;
  border-color: black;
  border-style: solid;
}

.day-calendar-events {
  width: 97.5%;
  justify-self: center;
  position: relative;
  grid-area: day-calendar-events;
}

.day-view:hover {
  background-color: rgb(230,230,230);
}

.day-view-header {
  grid-area: day-view-header;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  color: black;
  font-size: 1.25em;
  text-align: center;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgb(215,215,215);
}

.day-view:hover .day-view-header {
  border-color: rgb(205,205,205);
}

.calendar-event {
  position: absolute;
  padding-left: 3px;
  border: 1px dashed #666;
  border-radius: 10px;
  color: black;
}

.calendar-event-selected {
  border: 1px solid #666;
  border-radius: 10px;
  font-weight: bolder;
  background-color: rgb(220,220,220);
}

.calendar-event:hover {
  background-color: rgb(225,225,225);
}

.calendar-event-selected:hover {
  background-color: rgb(220,220,220);
}

.horz-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "calendar-view summary";
}

.vert-layout {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "calendar-view" "summary";
}

.add-event-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  padding: 1%;
  color: #333;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #ddd;
}

.add-event-form-option {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}

.add-event-choose-type {
  margin-top: 0.5%;
}

.add-event-form-option * {
  border-radius: 10px;
  font-size: 1.15em;
}

.add-event-description {
  height: 50px;
  margin-top: 0.5%;
}

.add-event-notes {
  height: 100px;
  margin-top: 0.5%;
}

.add-event-submit:hover {
  background-color: #ccc;
}

.add-event-header {
  font-weight: bolder;
  color: #333;
  font-size: 1.25em;
  width: 100%;
}

.summary-header {
  font-weight: bolder;
  color: #333;
  font-size: 1.25em;
  margin-bottom: 1%;
}

.add-event-form-buttons {
  margin-top: 3%;
  height: 35px;
  border: 1px solid #666;
  border-radius: 25px;
  width: 85px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

